
{% extends 'base.html' %}

{% block content %}
<html lang="en">
{% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/tempone.css' %}" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid px-1 py-2 mx-auto">
      <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 ">
          {% comment %} <h3 class="text-center ">Alert Master</h3> {% endcomment %}
          <div class="card">
            <h3 class="text-center mb-4 text-primary ">Create Device Details</h3>

            <form class="form-card" action ="{% url 'add_device' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

            <div class="row justify-content-between text-left">

                <div class="form-group col-sm-12 flex-column d-flex mb-2">
                    <label for="inpurtext" class="text-black">Device Name :</label>
                    <input type="text" id="id_device_name" placeholder="Enter alart Massage" name="device_name" required />
                </div>

                <div class="form-group col-sm-12 flex-column d-flex mb-2">
                  <label for="inpurtext" class="text-black">Company Id :</label>
                  <select class="form-select" name="company_id" id="id_company_id" required >
                    <option value="" selected>select</option>
                  {% for a in cm %}
                    <option value="{{ a.company_id }}">{{ a.company_name }}</option>
                  {% endfor %}
                  </select>
                </div>

                {% comment %} <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label for="inpurtext" class="text-black">Time Stamp :</label>
                            <input class="form-control" type="time" placeholder="" name="time_stamp" />
                    </div>
                </div> {% endcomment %}

                <div class="form-group col-sm-6 flex-column d-flex mb-2">
                  <label for="inpurtext" class="text-black">Installed Date :</label>
                  <input type="date" name="installed_date" id="id_installed_date" required />
                </div>


                
                {% comment %} <div class="form-group col-sm-6 flex-column d-flex mb-4">
                  <label for="inpurdatetime" class="text-black">Date Time :</label>
                  <input type="date" name="date_time" placeholder=""/>
                </div> {% endcomment %}

                {% comment %} <div class="form-group col-sm-6 flex-column d-flex mb-2">
                  <label for="inputfile" class="text-black">Company Logo :</label>
                  <input type="file" name="company_logo" accept="image/*" />
                </div>

                <div class="form-group col-sm-6 flex-column d-flex mb-2">
                  <label for="inputfile" class="text-black">Company Image:</label>
                  <input type="file" name="company_image" accept="image/*"/>
                </div> {% endcomment %}

                <div class="mt-4 mb-0">
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </div>

              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}












